################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreWithAngular/ClientApp/.angular/cache/angular-webpack/425ae3f94b7bbf3a15367fc0124343ceb09cc05c
/NetCoreWithAngular/ClientApp/.angular/cache/babel-webpack
.vs/NetCoreWithAngular/DesignTimeBuild/.dtbcache.v2
/NetCoreWithAngular/ClientApp/.angular/cache/angular-webpack/1ad38cfab123cb6e531302891f92a1fe1880fb16
/NetCoreWithAngular.DAL/obj
/NetCoreWithAngular.Logic/obj
