html, body { 
  height: 100%; 
  width: 100%;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.container button {
  background-color: green;
  color: #fff;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.cards-container .mat-card {
  width: 150px;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
}

.cards-container .form-item {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
